.progress-bar-wrapper {
  display: flex;
  align-items: center;
}

.progress-bar {
  width: 400px;
  height: 10px;
  border-radius: 8px;
  background: #E4E5F5;
  margin-right: 66px;
  &__completed {
    background: #8EA1FC;
    height: 100%;
    border-radius: 8px;
  }
}

.counter {
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  color: #818C94;
}